.wrapper {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
}

main {
    width: 30%;

    background-color: #ef8354;
}

aside {
    width: 70%;
}

footer {
    display: flex;
    justify-content: space-between;

    background-color: #343633;
}

body {
    font-family: "Inter", sans-serif;
}

.image-container {
    overflow: hidden;
    position: relative;

    height: 200px;
    width: 200px;
    margin: 50px 64px 35px 57px;
}

.my-photo {
    position: absolute;
    object-fit: cover;

    height: 100%;
    width: 100%;

    border-radius: 50%;
}

.about-myself,
.education-section,
.code-example {
    margin: 25px 36px;
}

.contact-list, 
.skills-list, 
.languages-list {
    margin-bottom: 30px;
}

h1, 
h2,
h4 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.15em;
}

h1 {
    display: inline-block;
    margin: 62px 37px 41px 64px;
    padding: 13px 8px;

    font-size: 25px;
    text-transform: uppercase;
    color: #242732;

    border: 2px solid #333333;
}

.my-name {
    font-weight: bold;
}


h2 {
    margin-bottom: 24px;

    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: "Inter", sans-serif;
    font-style: italic;
    color: #999999;
}

h4 {
    position: absolute;

    margin: -50px 107px 0 135px ;
    padding: 3px;

    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
}

ul,
h2 {
    margin-left: 39px;
}

.about-myself h2,
.code-example h2 {
    margin: 0;
}

li {
    margin-bottom: 13px ;
}

.contact-list h5 {
    display: inline;

    font-weight: bold;
}

p {
    margin: 6px 0 0 0;
}

.education h5{
    margin: 6px 0;
}

